body{
    margin:0;
    padding:0;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    overflow:hidden;
    background:
    linear-gradient(
    135deg,
    #FFFFFF,
    #EEF2FF,
    #F3EEFF,
    #FFFFFF
    );

}

h1 {
    font-size:70px;
}

p{
    font-size:28px;
}

button{
    margin-top:30px;
    padding:22px 45px;
    font-size:20px;
    font-family: Georgia;
    border:none;
    border-radius:15px;
    curser:pointer;
    background:linear-gradient(
    135deg,
    #6A5CFF,
    #7FBCFF
    );
    color:white;
    font-weight:bold;
    box-shadow:0px 10px 30px
                rgba(106,92,255,0.30);
    transition:0.4s;
}

button:hover{
    transform:translateY(-5px);
    box-shadow:0px 20px 40px
    rgba(106,92,255,0.45);
}

h1{
    animation:float 3s infinite;
}

@keyframes float {

    0%{
        transform: translateY(-10px);
    }

    50%{
        transform:translateY(-10px);
    }
    100%{
        transform:translateY(0px);
    }
}

.orb{
    width:250px;
    height:250px;
    position:relative;
    background:linear-gradient(
        135deg,
        #BEEBFF,
        #D9C5FF,
        #FFCCF9,
        #BEEBFF

        );
    border-radius:50%;
    margin-bottom:30px;
    box-shadow:0px 0px 50px
    rgba(106,92,255,0.50);
    animation:float 4s infinite;
    }

.reflection{
    position:absolute;
    width:80px;
    height:80px;
    border-radius:50%;
    background:rgba(255,255,255,0.55);
    top:30px;
    left:40px;
    filter:blur(15px);
}

.inner-glow{
    position:absolute;
    width:180px;
    height:180px;
    border-radius:50%;
    background:rgba(255,255,255,0.20);
    top:35px;
    left:35px;
    filter:blur(25px);
}

.title{
    font-size:72px;
    letter-spacing:8px;
    font-weight:bold;
    color:#171717;
    margin-botttom:40px;
}

.orb-container{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:50px;
}
